@import url("https://fonts.cdnfonts.com/css/switzer");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input::placeholder {
    @apply text-black;
    @apply font-medium;
  }

  .strip {
    background: linear-gradient(0.25turn, #edefff, #525aa0, #edefff);
  }

  .actionButtonText {
    @apply animate-moveIn;
  }

  .actionButtonLogo {
    @apply animate-moveOut;
  }
}
